.features-head {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.features-head h2 {
  padding-left: 30px;
  font-weight: 300;
  font-size: 3.75rem;

  strong {
    font-weight: 500;
  }
}

.features-desc {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-gap: 100px;

  @mixin atSmall {
    grid-template-columns: auto auto;
  }
  @mixin atMedium {
    grid-template-columns: auto auto;
  }
  @mixin atLarge {
    grid-template-columns: auto auto;
  }
}
.flex {
  display: flex;
}
.flex .feature {
  padding-left: 30px;
}

.feature {
  display: flex;
  flex-direction: column;
}

.feature h3 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

.feature p {
  line-height: 1.7;
  font-weight: 100;
}
